<div class="container-modal">
    <div class="header">
        <!-- Título dinámico -->
        <h1 *ngIf="data.rol !== 'evento_editar'">Eliminar usuario</h1>
        <h1 *ngIf="data.rol === 'evento_editar'">Editar evento</h1>
        <button mat-icon-button (click)="onNoClick()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="body">
        <!-- Mensaje dinámico -->
        <p *ngIf="data.rol !== 'evento_editar'">
            ¿Estás seguro de eliminar este usuario? Esta acción no se puede deshacer.
        </p>
        <p *ngIf="data.rol === 'evento_editar'">
            Estás a punto de editar este evento y se generarán los cambios.
        </p>
    </div>
    <div class="footer">
        <button mat-button (click)="onNoClick()">CANCELAR</button>
        
        <!-- Botón de acción dinámico -->
        <button mat-raised-button color="warn" (click)="onDelete()" *ngIf="data.rol !== 'evento_editar'">
            ELIMINAR
        </button>
        <button mat-raised-button color="primary" (click)="onDelete()" *ngIf="data.rol === 'evento_editar'">
            EDITAR
        </button>
    </div>
</div>